@import "tailwindcss";

@theme inline {
  --font-inria-sans: var(--inria-sans);
  --font-inria-serif: var(--inria-serif);
  --font-bilderberg: var(--bilderberg);

  --color-primary: #EBAE71;
  --color-secondary: #AA5622;
  --color-font-color: #14100C;
  --color-components-background: #F7F4F1;
  --color-body-background: #FFFFFF;
}
